css /* mystyle.css */

body{ 
    padding:200px 200px 200px 200px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;

}

.nav ul{
    list-style-type: none;
    height: 100px;
    float: auto;
    margin-top:200px;
    margin-left:450px;
    padding-top:100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.nav li{
    float: left;
    margin-left: 100px;
    margin-right: 100px;
}

.nav li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    position: relative;
}

.nav li a:hover{
    background-color: black;
    color: white;
}

.main{
    border: black 1px solid;
    margin:0px 400px 100px 400px;
    padding: 20px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.main h1{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}